<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="fileFilters" type="System.Configuration.NameValueSectionHandler"/>
		<section name="fileIcons" type="System.Configuration.NameValueSectionHandler"/>
	</configSections>
	<fileFilters>
		<add key="All Files" value="*.*"/>
		<add key="Text Files" value="*.txt"/>
		<add key="Unix Shell Script Files" value="*.bash;*.sh;*.bsh"/>
		<add key="Windows Batch Files" value="*.bat;*.cmd"/>
		<add key="C Files" value="*.c;*.h"/>
		<add key="C++ Files" value="*.cpp;*.cxx;*.cc;*.hh;*.hpp;*.hxx"/>
		<add key="C# Files" value="*.cs"/>
		<add key="CSS Files" value="*.css"/>
		<add key="Fortran Files" value="*.f;*.for;*.f77;*.f90;*.f95;*.f03;*.f08;*.f15"/>
		<add key="Go Files" value="*.go"/>
		<add key="Haskell Files" value="*.hs;*.lhs"/>
		<add key="HTML Files" value="*.html;*.htm"/>
		<add key="Java Files" value="*.java"/>
		<add key="JavaScript Files" value="*.js"/>
		<add key="JSON Files" value="*.json"/>
		<add key="Kotlin Files" value="*.kt;*.kts"/>
		<add key="Lua Files" value="*.lua"/>
		<add key="Markdown Files" value="*.md"/>
		<add key="PHP Files" value="*.php;*.phtml"/>
		<add key="PowerShell Script Files" value="*.ps1"/>
		<add key="Python Files" value="*.py;*.pyw"/>
		<add key="Ruby Files" value="*.rb;*.rbw"/>
		<add key="Rust Files" value="*.rs"/>
		<add key="SQL Files" value="*.sql"/>
		<add key="Swift Files" value="*.swift"/>
		<add key="TypeScript Files" value="*.ts;*.tsx"/>
		<add key="XAML Files" value="*.xaml"/>
		<add key="XML Files" value="*.xml"/>
	</fileFilters>
	<fileIcons>
		<!-- Unix Shell Script -->
		<add key=".bash" value="ConsoleLine"/>
		<add key=".sh" value="ConsoleLine"/>
		<add key=".bsh" value="ConsoleLine"/>
		<!-- Windows Batch -->
		<add key=".bat" value="Console"/>
		<add key=".cmd" value="Console"/>
		<!-- C -->
		<add key=".c" value="LanguageC"/>
		<add key=".h" value="LanguageC"/>
		<!-- C++ -->
		<add key=".cpp" value="LanguageCpp"/>
		<add key=".cxx" value="LanguageCpp"/>
		<add key=".cc" value="LanguageCpp"/>
		<add key=".hh" value="LanguageCpp"/>
		<add key=".hpp" value="LanguageCpp"/>
		<add key=".hxx" value="LanguageCpp"/>
		<!-- C# -->
		<add key=".cs" value="LanguageCsharp"/>
		<!-- CSS -->
		<add key=".css" value="LanguageCss3"/>
		<!-- Fortran -->
		<add key=".f" value="LanguageFortran"/>
		<add key=".for" value="LanguageFortran"/>
		<add key=".f77" value="LanguageFortran"/>
		<add key=".f90" value="LanguageFortran"/>
		<add key=".f95" value="LanguageFortran"/>
		<add key=".f03" value="LanguageFortran"/>
		<add key=".f08" value="LanguageFortran"/>
		<add key=".f15" value="LanguageFortran"/>
		<!-- Go -->
		<add key=".go" value="LanguageGo"/>
		<!-- Haskell -->
		<add key=".hs" value="LanguageHaskell"/>
		<add key=".lhs" value="LanguageHaskell"/>
		<!-- HTML -->
		<add key=".html" value="LanguageHtml5"/>
		<add key=".htm" value="LanguageHtml5"/>
		<!-- Java -->
		<add key=".java" value="LanguageJava"/>
		<!-- JavaScript -->
		<add key=".js" value="LanguageJavascript"/>
		<!-- JSON -->
		<add key=".json" value="CodeJson"/>
		<!-- Kotlin -->
		<add key=".kt" value="LanguageKotlin"/>
		<add key=".kts" value="LanguageKotlin"/>
		<!-- Lua -->
		<add key=".lua" value="LanguageLua"/>
		<!-- Markdown -->
		<add key=".md" value="LanguageMarkdown"/>
		<!-- PHP -->
		<add key=".php" value="LanguagePhp"/>
		<add key=".phtml" value="LanguagePhp"/>
		<!-- PowerShell Script -->
		<add key=".ps1" value="Powershell"/>
		<!-- Python -->
		<add key=".py" value="LanguagePython"/>
		<add key=".pyw" value="LanguagePython"/>
		<!-- Ruby -->
		<add key=".rb" value="LanguageRuby"/>
		<add key=".rbw" value="LanguageRuby"/>
		<!-- Rust -->
		<add key=".rs" value="LanguageRust"/>
		<!-- SQL -->
		<add key=".sql" value="Database"/>
		<!-- Swift -->
		<add key=".swift" value="LanguageSwift"/>
		<!-- TypeScript -->
		<add key=".ts" value="LanguageTypescript"/>
		<add key=".tsx" value="LanguageTypescript"/>
		<!-- XAML -->
		<add key=".xaml" value="LanguageXaml"/>
		<!-- XML -->
		<add key=".xml" value="Xml"/>
	</fileIcons>
</configuration>